# Web Framework & Server
fastapi>=0.115.0
uvicorn[standard]
python-multipart
gunicorn

# Database (Supabase için şart)
sqlalchemy[asyncio]
asyncpg
psycopg2-binary

# Auth & Security (Özellikle bcrypt versiyonuna dikkat)
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# LangChain & AI
langchain
langchain-core>=0.3.29
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-community

# Vector DB & Processing
pinecone-client
sentence-transformers
pymupdf

# Config & Utils
python-dotenv
pydantic-settings
pydantic[email]
slowapi